<h1><%= @task.content %></h1>
<p>Status: <%= @task.done ? '[X]' : '[ ]' %></p>
<p>Priority: <%= @task.priority %></p>
<%= link_to 'Back to all the tasks', tasks_path %>
<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Delete', task_path(@task), method: :delete %>
